/* Variabili CSS */
:root {
    --primary-color: #FFAFCC;
    --secondary-color: #BDE0FE; 
    --accent-color: #CDB4DB; 
    --dark-text: #3a3838;
    --light-text: #f0f0f0;
    --background-light: #FFC8DD;
    --background-dark: #222;
    --border-radius: 8px;
    --spacing-unit: 1rem; /* 16px */
    --header-height: 4rem; /* Altezza della navbar */
    --link-colour: var(--accent-color);
    --text-shadow: 0 0 5px rgba(46, 45, 45, 0.56);
}

/* Reset di Base e Stili Generali */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; /* Per uno scroll fluido verso le sezioni */
}

body {
    font-family: 'Roboto', sans-serif; /* Un font più comune */
    color: var(--dark-text);
    font-weight: bold;
    line-height: 1.6;
}


/* Titoli di Sezione */
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    color: var(--primary-color);
    margin-bottom: var(--spacing-unit);
    text-align: center;
    text-shadow: var(--text-shadow);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
    padding-top: var(--header-height); /* Per compensare la header fissa */
    margin-top: calc(-1 * var(--header-height)); /* Per far sì che lo scroll arrivi correttamente al titolo */
    padding-bottom: var(--spacing-unit);
}

h3 {
    font-size: 1.8em;
}

/* Bottoni Generici */
.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    border: none;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-shadow: var(--text-shadow);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-hero {
    background-color: var(--accent-color);
    color: var(--light-text);
    margin-top: 2rem;
    transition: transform 0.3s ease, filter 0.3s ease;
    opacity: 0; /* Inizialmente nascosto */
    animation: fadeInUp 1s ease-out forwards; /* Applica l'animazione */
    animation-delay: 1.5s; /* Appare dopo un po' */
}

.btn-hero:hover {
    filter: brightness(85%); /* Alternativa CSS */
    transform: scale(1.05); /* Leggera animazione al passaggio del mouse */
}

.btn-card {
    background-color: var(--primary-color);
    color: var(--light-text);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 1rem;
}

.btn-card:hover {
    filter: brightness(85%);
}

/* Stili per le sezioni */
section {
    padding: 3rem 0; /* Padding sopra e sotto ogni sezione */
}


.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: var(--header-height);
    background-color: var(--primary-color);
    color: var(--light-text);
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: 1000; /* Per assicurarsi che sia sopra altri elementi */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 0.5rem 2rem; /* Per allineare il logo e le icone */
    opacity: 0.95;
    border-radius: var(--border-radius);
}

.nav.list a, .main-header a {
    border: 2px solid var(--background-light);
    border-radius: var(--border-radius);
    text-decoration: none;
    display: inline-block;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--light-text);
    text-decoration: none;
    margin-right: auto; /* Per spingere il logo a sinistra */
    margin-left: 1rem;
    display: flex;
    flex-shrink: auto;
    order: 1;
}
.main-header a { padding: 0.5rem 3rem; }

.main-nav {
    display: flex;
    flex-shrink: auto;
    order: 2;
    width: 100%;
    max-width: 1200px;
    flex-wrap: nowrap;
}
.main-nav ul {
    display: flex; /* Per permettere la rottura delle righe */
    justify-content: center;
    align-items: center;
    width: 100%; /* Per occupare tutta la larghezza disponibile */
}

.main-nav li {
    list-style: none;
    margin: 0 5px;
    flex: 1; /* Per distribuire gli elementi in modo uniforme */
    text-align: center; /* Per centrare il testo */
    line-height: 1.4;
    gap: 0.5rem; /* Spazio tra gli elementi */
}

.main-nav a {
    padding: 0.5rem 1rem; /* Riduci il padding del link */
    font-size: 0.9rem; /* Riduci la dimensione del font */
}

@media screen and (min-width:950px) {
    .main-nav a { padding: 0.5rem 3rem;}
}

a {
    color: var(--link-colour);
    text-decoration-color: #aef2ca;
    text-decoration:dashed underline;
    font-weight: bold;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.56);
}
a:hover {
    color: var(--secondary-color) !important;
    text-decoration-color: var(--primary-color) !important;
}

.nav-toggle {
    display: flex;
    flex-grow: auto;
    order: 3;
    cursor: pointer;
    color: var(--dark-text);
    background-color: var(--background-light);
    border: none;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 0.5rem 1rem;
}

.nav-toggle i {
    font-size: 1.5rem;
    color: var(--light-text);
    display: flex;
    order: 4;
}

.hero-section {
    min-height: 100vh;
    background-image: url('https://i.pinimg.com/736x/06/0d/a0/060da015aa648e4d65755194b180c185.jpg');
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    color: var(--dark-text);
    text-shadow: 0 0 10px var(--background-dark);
    padding-top: var(--header-height); /* Per compensare la header fissa */
    padding-bottom: 4rem; /* Per aggiungere spazio sotto il titolo */
}

.hero-section h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-section h1, .hero-section p {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    padding: 0 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    opacity: 0.9; /* Leggermente trasparente */
}

.container {
    max-width: 1200px;
    margin: 3rem auto;
    padding: var(--spacing-unit);
}

#chi-siamo , #galleria{
    background-image: linear-gradient(#FFC8DD, #BDE0FE, #A2D2FF, #CDB4DB);
}

#servizi , #contatti {
    background-image: linear-gradient(#CDB4DB, #A2D2FF, #BDE0FE, #FFC8DD);
}

@media screen and (max-width:576px) {
    .services-grid {
        display: grid;
        grid-template-columns: 1fr; /* Una colonna su schermi piccoli */
        grid-template-rows: auto;
        gap: 1rem; /* Spazio tra le card */
    }
}

@media screen and (max-width:768px)  {
    .services-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Due colonne su schermi medi */
        grid-template-rows: auto;
        gap: 1rem;
    }
}


.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tre colonne su schermi grandi */
    gap: 1rem;
}


.service-card {
    display: grid;
    grid-column: auto;
    grid-row: auto;
    text-align: center;
    background-color: var(--background-light);
    padding: 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--text-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.533);
}

.service-card i {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-top: 1rem;
    text-shadow: var(--text-shadow);
}



.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Colonne flessibili */
    grid-template-rows: auto;
    gap: 1rem;
}


.gallery-item {
    overflow: hidden;
    border-radius: var(--border-radius);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    
}

img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 4;;
    object-fit: cover; /* Mantiene l'aspetto quadrato */
    position: relative;
}

.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.293); /* Overlay scuro */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-color);
    opacity: 0; /* Inizialmente nascosto */
    transition: opacity 0.3s ease;
}
.gallery-item:hover, .item-overlay:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 1; /* Rende visibile l'elemento al passaggio del mouse */
}

.sidebar {
    position: fixed; 
    top: 0; 
    right: 0; 
    width: 300px; 
    height: 100%; 
    background-color: var(--background-light); 
    color: var(--light-text); 
    transform: translateX(100%); 
    transition: transform 0.3s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Per assicurarsi che sia sopra altri elementi */
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    padding: 2rem;
}

.sidebar-close {
    position: absolute; 
    top: 1rem; 
    right: 1rem; 
    background: none; 
    border: none; 
    color: white; 
    font-size: 1.5rem; 
    cursor: pointer;
}

.sidebar-nav-list {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.sidebar-contact {
    grid-row: 2;
    margin-top: 1rem;
    text-align: center;}

.sidebar.is-open { transform: translateX(0); }

.main-footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    z-index: 1000;
    width: 100%;
    height: auto;
    padding: 1rem 0;
}
.social-links i {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-top: 1rem;
    margin-right: 1rem;;
}


@media screen and (max-width: 576px) {
    body {
        display: grid;
        grid-template-rows: auto 1fr auto; /* Header, main content, footer */
        height: 100vh; /* Altezza piena della viewport */
        overflow: hidden; /* Nasconde lo scroll */
    }
    h1 {
        font-size: 2.5rem !important; /* Riduce la dimensione del titolo principale */
    }
    header {
        width: 100%;
        height: auto;
        max-height: var(--header-height);
        padding: 0.5rem 1rem;
    }
    .main-nav {
        display: none; 
    }
    main {
        width: 100%;
        overflow-y: auto;
    }
    .services-grid {
        grid-template-columns: 1fr; /* Una colonna su schermi piccoli */
        grid-template-rows: auto;
        padding: 1rem;
    }
    .gallery-item[data-category="empty"] {
        display: none; /* Nasconde gli elementi vuoti */
    }
    footer {
        display: none;
    }

    #contatti::after {
        content: "© 2025 ViaggiAmo. Tutti i diritti riservati.";
        display: block;
        height: 2rem; /* Spazio per il footer */
        color: var(--primary-color);
        text-align: center;
}
}